.markdown {
    div, p, ul, ol, li, header, footer, section, nav, h1, h2, h3, h4, h5, h6, form, article, main, adress {
        display: revert;
        float: revert;
        width: revert;
        font-size: revert;
        font-weight: revert;
        margin: revert;
        padding: revert;
    }

    &.who-we-are {
        padding: 2%;
    }
}

.listing-categories {
    padding: 0 !important;

    .section_content {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0 10%;
        
        .box-image {
            max-width: 33%;
        }
    }

    @media (min-width: 1024) {
        .section_content {
            .box-image {
                max-width: 16%;
            }
        }
    }
}

.subscription-box {
    background-color: #fff;
    padding: 2em !important;
    text-align:center;
    border-radius:20px;
}

.title_wrap {
    &.home {
        margin-top: -25em;
    }

    @media screen and (max-width: 1041px) {
        &.home {
            margin-top: -14em;
        }
    }

    @media screen and (max-width: 679px) {
        &.home {
            margin-top: -24em;
        }
    }
}
